@import url('https://fonts.googleapis.com/css?family=Ranga&display=swap');

.imgSize, .detailsPic{
    width: 300px;
    height: auto;
}
html {
    background-color: #f5f5f5;
    align-content: flex-start;
    text-align: center;
}
body {
    background-color: #f5f5f5;
    font-size: x-large;
    font-family: 'Ranga', cursive;
}

.navbar {
    height:50px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: +100;
    box-shadow: 0 5px 5px -2px rgba(0,0,0,.2);
}

.form-inline {

    position: fixed;
    top: 12px;
    left:75px;
    width: 100%;
    z-index: +100;
}
.navbar-brand{
    font-size:x-large;
}
li {
    padding: 8px;
}

a {
    text-decoration: none;
    color: #000;
}

    a:hover, a:focus {
        color: white;
        text-decoration: none;
        outline: none;
    }

.active {
    font-style:italic;
    font-weight:bold;

}

.card-deck{
    outline:none;
}

.card-body {
    outline: none;
}
.container {
    align-self: center;
    margin: auto;
    text-align: center;
    outline: none;
}

p {
    width:500px;
    margin: auto;
    text-align: center;
}

.review {
    border-top: 1px solid black;
    margin: 10px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    

}
.closeReview, .seeReview {
    cursor: pointer;
}

.profilePic{
    width:50px;
    height:auto;
}

.searchBar {
    width:400px;
    position: fixed;
    left:100px;
    top:5px;
}

.journalTxt {
    border-radius:10px;
    border: 1px solid black;
    border-radius: 10px;
}

.reviewTxt {

    white-space: normal;
    border-radius: 10px;
    border: 1px solid black;
}
@media screen and (max-width: 576px) {
    .container{
        width:95%;
    }
}

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

