@model CosmoTrack.Models.Review

@{
    Layout = "_Layout";

}

<br />
<br />
<br />
<br />
<div class="container mt-2 " style="width: 45rem;">
    <div class="card-deck">

        <div class="card card text-center mr-5 mb-1 row">

            <div class="card-body text-center parent col-sm">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="ID" />
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="MakePublic" /> @Html.DisplayNameFor(model => model.MakePublic)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="UserID" class="form-control" />
                        <span asp-validation-for="UserID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID" />
                        <span asp-validation-for="ProductID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rating" class="control-label"></label>
                        <input asp-for="Rating" class="form-control" />
                        <span asp-validation-for="Rating" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserReview" class="control-label"></label>
                        <textarea asp-for="UserReview" class="form-control"></textarea>
                        <span asp-validation-for="UserReview" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VideoReviewURL" class="control-label"></label>
                        <input asp-for="VideoReviewURL" class="form-control" />
                        <span asp-validation-for="VideoReviewURL" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-outline-secondary mb-3" />
                    </div>
                </form>

                <div>
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
        </div>
    </div>
        

