@model CosmoTrack.Models.Profile

@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />
<div class="container">
    <div class="card card text-center mr-5 mb-5 row">

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <input type="hidden" asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ProfileImageURL" class="control-label">Profile Image URL</label>
                <input asp-for="ProfileImageURL" class="form-control" />
                <span asp-validation-for="ProfileImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentRegiment" class="control-label">Current Routine</label>
                <textarea asp-for="CurrentRegiment" class="form-control" rows="5" cols="80"></textarea>
                <span asp-validation-for="CurrentRegiment" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ViewableByFollwers" /> @Html.DisplayNameFor(model => model.ViewableByFollwers)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-secondary" />
            </div>
        </form>

    </div>
</div>


