@model CosmoTrack.Models.Profile

@{
    Layout = "_Layout";

}
<br />
<br />
<br />
<br />
<div class="container mt-2 " style="width: 45rem;">
    <div class="card-deck">

        <div class="card card text-center mr-5 mb-5 row">

            <div class="card-body text-center parent col-sm">
              
                <h2 class="card-header" style="background-color: #f5f5f5;">
                    <img class="profilePic" src="@Model.ProfileImageURL" class="img-fluid" />
                    @Model.UserName
                </h2>

                <p>
                    @Model.CurrentRegiment
                </p>
                

                <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-outline-secondary">Edit Profile</a>


            </div>
           
        </div>

    </div>


</div>
