@using Microsoft.AspNetCore.Identity
@using CosmoTrack.Models

@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="~/Styles/Utilities.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" rel="stylesheet" />
    <link href="~/Styles/Base.css" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.6.0/js/all.js"></script>
</head>
<body>
    <nav>
        @if (signInManager.IsSignedIn(User))
        {
            <div class="navbar-item">
                <div class="buttons is-size-5">
                    <p>
                        Hey, @User.Claims.First(c => c.Type == "FullName").Value
                        <span class="pad-left-xs pad-right-xs">|</span>
                    </p>
                    <a href="../Account/Logout" class="has-text-danger">
                        Log out
                    </a>
                </div>
            </div>
        }
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
