@using Microsoft.AspNetCore.Identity
@using CosmoTrack.Models

@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <nav>
        @if (!signInManager.IsSignedIn(User))
        {
            <a href="/Account/Login" class="has-text-danger">
                Login
            </a>
            <a href="/Account/Register" class="has-text-danger">
                Create an Account
            </a>
        }
        @if (signInManager.IsSignedIn(User))
        {
            <div class="navbar-item">
                <div class="buttons is-size-5">
                    <p>
                        Hey, @User.Claims.First(c => c.Type == "FullName").Value
                        <span class="pad-left-xs pad-right-xs">|</span>
                    </p>
                    <a href="../Account/Logout" class="has-text-danger">
                        Log out
                    </a>
                    <a href="/" class="has-text-danger">
                        Home
                    </a>
                    <a href="/UserJournals" class="has-text-danger">
                        My Journal
                    </a>
                    <a href="/Products" class="has-text-danger">
                        My Products
                    </a>
                    <a href="/Follows" class="has-text-danger">
                        My Community
                    </a>

                </div>
            </div>
        }
    </nav>
    <div>
        @RenderBody()
    </div>
</body>
</html>
