@using Microsoft.AspNetCore.Identity
@using CosmoTrack.Models

@inject SignInManager<ApplicationUser> signInManager

<!DOCTYPE html>

<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    @*<link href="~/StyleSheet.css" rel="stylesheet" />*@
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        @if (!signInManager.IsSignedIn(User))
        {
            <button class="navbar-toggler" data-toggle="collapse" data-target="#nav1">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="nav1">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a href="/Account/Login" class="nav-link">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Register" class="nav-link">
                            Create an Account
                        </a>
                    </li>
                </ul>
            </div>
        }
        @if (signInManager.IsSignedIn(User))
        {

            <a href="/Profiles" class="navbar-brand">@User.Claims.First(c => c.Type == "NickName").Value</a>


            <button class="navbar-toggler" data-toggle="collapse" data-target="#navBar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navBar">
                <ul class="navbar-nav ml-auto">

                    <li class="nav-item">
                        <a href="/" class="nav-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/UserJournals" class="nav-link">
                            My Journal
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Products" class="nav-link">
                            My Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Follows" class="nav-link">
                            My Community
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../Account/Logout" class="nav-link">
                            Log out
                        </a>
                    </li>
                </ul>
            </div>

        }
    </nav>
    <div>
        @RenderBody()
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>


</html>
