@model CosmoTrack.Models.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Identity
@using CosmoTrack.Models
@inject SignInManager<ApplicationUser> SignInManager
@{
    Layout = "_Layout";
}

    <div id="login">

        <form method="post">

            <div asp-validation-summary="All"></div>

            <div class="boxes">
                <label asp-for="Email">Email:</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="boxes">

                <label asp-for="Password">Password:</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <button type="submit" id="login-btn">Login</button>

        </form>
    </div>
