@model IEnumerable<CosmoTrack.Models.UserJournal>
@{
    Layout = "_Layout";
}
<br />
<br />
<br />
<br />
<p>
    <a asp-action="Create"  class="btn btn-outline-secondary">Add a Journal Entry</a>
</p>
<div class="container mt-5 row">
    @foreach (var item in Model)
    {

        <div class="card-deck col">

            <div class="card text-center mr-5 mb-5" style="width: 18rem;">

                <div class="card-body text-center">
                    <h3 class="card-header" style="background-color: #E6E6FA;">

                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </h3>
                    <br />
                    <h3>
                        Created: @item.DateCreated
                    </h3>
                    <br />
    
                       
                    <h5>@item.JournalEntry</h5>
                   
                  
                </div>
            </div>
        </div>


    }
</div>